.logo-col
{
  display: flex;
  flex-direction: column;
}
.footer
{
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.containy
{
max-width: 120rem;
margin: 0 auto;
padding: 0 3.2rem;
}
.grid
{
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  margin-bottom: 9.6rem;
}

.grid5cols
{
  grid-template-columns: repeat(5,1fr);
}

.logo
{
    height: 5.5rem;
    display: block;
    margin-bottom: 3.2rem;
}
.footer-heading
{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.contacts
{
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address
{
  margin-bottom: 2.4rem;
}

.grid-footer
{
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.footer-nav
{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,.footer-link:visited
{
text-decoration: none;
font-size: 1.6rem;
color: #767676;
transition: all 0.3s;
}
.footer-link:active,.footer-link:hover
{
text-decoration: none;
font-size: 1.6rem;
color: #555;
}

.social-media
{
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon
{
  height: 2.4rem;
  width: 2.4rem;
}
.copyright
{
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

